/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}
:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-bg-dark: #2f303a;
  --color-bg-team: #f5f4fa;
  --color-rare: #2196f3;
  --color-foot: rgba(255, 255, 255, 0.6);
  --color-brand-dcr: #757575;
  --color-button-bg: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  background-color: #fff;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pad-section {
}

/*Nav*/

.button {
  background-color: var(--color-rare);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: var(--color-button-bg);
}
.button:active {
  background-color: var(--color-button-bg);
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
  display: block;
}
.nav-item:last-child {
  margin-right: 0px;
}
.contacts-head {
  display: flex;
  margin-left: auto;

  align-items: center;
}
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--color-rare);
}
.mail {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.tel {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.li-tel {
  margin-left: 50px;
  display: block;
  padding: 32px 0;
}
.li-mail {
  display: block;
  padding: 32px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--color-rare);
  margin-right: 93px;
}
.logo-studio {
  color: #000;
}
.logo-studio-foot {
  color: #fff;
}

.link-item,
.link-studio,
.link-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  padding: 32px 0;
  display: block;
}
.link-item:hover,
.link-item:focus,
.link-studio:hover,
.link-studio:focus,
.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--color-rare);
}
.link-studio.current {
  color: var(--color-rare);
}
.link-portfolio.current {
  color: var(--color-rare);
}
/*H1*/

.header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 697px;
  margin-left: auto;
  margin-right: auto;
}

/*Main*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.li-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 10px;
}
.ul-item:last-child {
  margin-right: 0;
}
.team-card {
  margin-right: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:last-child {
  margin-right: 0;
}
/*.team-img {
  margin-bottom: 30px;}*/

.team-ul {
  display: flex;
}
.team-bg {
  background-color: var(--color-bg-team);
}

.main-text,
.job {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}
.li-item,
.main-text {
  width: 270px;
}
.benefits-ul {
  display: flex;
}
.team-container {
  padding: 30px 0;
  text-align: center;
}

.ul-item {
  width: 270px;

  margin-right: 30px;
}
.what-we-do,
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  margin-bottom: 50px;
}

.third-sec-img {
  display: flex;
  gap: 30px;
}
.wwd-img {
  display: block;
  max-width: 100%;
}

.name,
.job {
  font-size: 16px;
  line-height: 1.187;
}
.name {
  font-weight: 500;
  margin-bottom: 10px;
}
.job {
  margin: 0px;
}

/*Footer*/

.contact-foot,
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.adress {
  color: #fff;
}
.contact-foot {
  color: var(--color-foot);
}
.contact-foot:hover,
.contact-foot:focus,
.adress:focus,
.adress:hover {
  color: var(--color-rare);
  cursor: default;
}

.logo-foot {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--color-rare);
}
.foot-li {
  margin-bottom: 9px;
}
.foot-li:last-child {
  margin-bottom: 0;
}
/*Portfolio*/

.head-section {
  background-color: var(--color-bg-dark);
  text-align: center;
  padding: 200px;
}
.footer {
  background-color: var(--color-bg-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.team {
  background-color: var(--color-bg-team);
}
.brand-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}
.brand-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color-brand-dcr);
}

.b-web-sites,
.b-apps,
.b-disign,
.b-marketing,
.b-everything {
  cursor: pointer;
  background: var(--color-bg-team);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  padding: 6px 22px;
  border: none;
  display: block;
}
.portfolio-li {
  display: block;
  margin-right: 8px;
  padding-top: 94px;
  padding-bottom: 50px;
}
.b-everything:focus,
.b-everything:hover,
.b-everything:active,
.b-web-sites:focus,
.b-apps:focus,
.b-disign:focus,
.b-marketing:focus,
.b-web-sites:hover,
.b-apps:hover,
.b-disign:hover,
.b-marketing:hover,
.b-web-sites:active,
.b-apps:active,
.b-disign:active,
.b-marketing:active {
  background-color: var(--color-rare);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portf-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.brand-li {
  flex-basis: calc((100% - 60px) / 3);
}
.brand-li:nth-child(3n) {
  margin-right: 0;
}
.brand-li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.port-container {
  border-bottom: 1px solid #ececec;
}
.brand-container {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
